
/* - reset.css - */
@media screen {
/* https://www.biology.cam.ac.uk/portal_css/reset.css?original=1 */
/* */
/* */
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }
iframe { border-width: 0; border-style:none; }
/* */

}
